* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p {
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-family: 'Oswald', sans-serif;
}

h3 {
  font-family: 'Oswald', sans-serif;
}
/* Nav */

header {
  border-bottom: solid black 4px;
}

.main-header {
  width: 100vw;
  background: #262a10;
  padding: 10px;
  font-family: 'Pattaya', sans-serif;
}

.main-nav {
  font-family: 'Pattaya', sans-serif;
}

.header-list li {
  display: inline-block;
}

.cta {
  background: orange;
  padding: 4px;
  border-radius: 8px;
  border: solid black 2px;
  border-bottom: none;
}

.cta:hover {
  background: white;
  color: orange;
}

.header-list a {
  font-size: 20px;
  list-style: none;
  text-decoration: none;
  margin: 8px;
  color: white;
}

.nav-sides:hover {
  color: orange;
  border-bottom: solid black 3px;
}

.badge:hover {
  color: orange;
}

/* End Nav */

/* Start Recipe list */

.burger-recipes-list {
  background: #a9714b;
  display: grid;
  grid-template-columns: repeat(2, 3fr);
  gap: 10px;
  grid-auto-rows: minmax(40px, auto);
}

.box h2,
h3 {
  color: rgb(255, 145, 0);
}

.box h2 {
  margin: 5px;
  font-size: 30px;
  display: inline-block;
  border-bottom: solid rgb(255, 136, 0) 4px;
}

.box {
  border-radius: 5px;
  margin: 30px;
  padding: 5px;
  height: fit-content;
  border: solid black 4px;
  background-color: #262a10;
}
/* End Recipe list */

/* Each Burger */

.box img {
  display: inline;
  object-position: 0px 70%;
  object-fit: cover;
  height: 400px;
  width: 100%;
  border-radius: 5px;
  border: solid black 2px;
}

.box h3 {
  color: orange;
  padding: 8px;
  font-size: 25px;
}

.instructions {
  font-family: 'Oswald', sans-serif;
  color: white;
  display: none;
}

#toggleBtn1 {
  transition: 2s;
}

.box h3 p {
  height: fit-content;
  font-weight: 600px;
  font-size: 20px;
  color: white;
  padding: 10px;
  width: 47%;
  border-radius: 5px;
  border: solid black 2px;
}
/* End Each Burger */
/* Cheeseburger */
#cheeseburger {
  object-fit: cover;
}
/* toggle button */
.showmore-btn {
  margin: 15px;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  border: solid black 2px;
}

.showmore-btn:hover {
  background-color: rgb(4, 104, 255);
  transform: scale(1.1);
  color: white;
}
/* End toggle button */

/* End Cheeseburger */
